.wrapper {
    display: flex;
    background: rgb(245, 129, 129);
    background: linear-gradient(135deg, rgba(245, 129, 129, 1) 6%, rgba(213, 118, 200, 1) 100%);
    height: 100vh;
    margin: auto;
    justify-content: center;
    padding-top: 100px;
    gap: 50px;
    position: fixed;
    width: 100%;
}


.names-wrapper {
    width: 40%;
    height: 85vh;
    overflow-y: auto;
}

.main-name {
    color: #02150e;
}

.friends-names {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.names-wrapper button {
    background-color: black !important;
    color: goldenrod !important;
    border: none !important;
    margin-top: 10px;
    padding: 5px 15px !important;
    font-size: 16px !important;
    text-transform: none !important;
    font-weight: 600;
}


.connections > div {
    margin-top: 20px;
}

.connections {

}

.connections input {
    padding: 25px !important;
    width: 300px;

}

.connections label {
    color: black !important;
    font-size: 18px;
}

.connections button {
    margin-top: 20px;
    background-color: black !important;
    color: #f4b206 !important;
    border: none !important;
    width: 100%;
    padding: 10px !important;
    font-size: 16px !important;
    text-transform: none !important;
    font-weight: 600;
}

.avatar-wrapper {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.css-8h65ya-MuiAvatar-root {

}

::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-track {

    background-color: black;
}


::-webkit-scrollbar-thumb {
    background: #f4b206;

}